---
layout: default
---
{% for post in paginator.posts %}
  <h1>
    <a class="link-primary" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h1>
  <h5>
    {{ post.date | jdate: "%d %b %Y" | pnumber }}
  </h5>
  <div class="mb-5">
    {{ post.content }}
    {% if post.nocomments != true %}
      <div style="float: left">
        <a href="{{ post.url | prepend: site.baseurl }}#comments">دیدگاه خود را بنویسید</a>
      </div>
    {% endif %}
  </div>
  <p class="my-5"><br /> </p>
{% endfor %}

<div>
  {% if paginator.previous_page %}
    <span style="float: inline-start;">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">→ ارسال‌های بعدی</a>
    </span>
  {% endif %}
  {% if paginator.next_page %}
    <span style="float: inline-end;">
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">ارسال‌های پیشین ←</a>
    </span>
  {% endif %}
</div>
