---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">
          {{ post.date | jdate: "%d %b %Y" | pnumber }}
           • 
          نوشته شده در دستهٔ
          {% for category in post.categories %}
            {% if category != post.categories[0] %}
               و 
            {% endif %}
            {{ category }}
          {% endfor %}
        </span>
        <div class="post-container">
          {{ post.content }}
        </div>
        {% if post.nocomments != true %}
          <div style="float: left">
            <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread">دیدگاه خود را بنویسید</a>
          </div>
        {% endif %}
      </li>
      <p> <br /> </p>
    {% endfor %}
  </ul>
  
  <div class="right inline">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">→ ارسال‌های بعدی</a>
    {% endif %}
  </div>
  <div class="left inline">
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">ارسال‌های پیشین ←</a>
    {% endif %}
  </div>

</div>
