<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.author }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.gitlab_username %}
            <a href="https://gitlab.com/{{ site.gitlab_username }}">
              <span class="icon">
                <svg viewBox="0 0 16 16">
			<path fill="#828282" d="M 2.9895696,0 C 2.867371,0 2.7452068,0.0763 2.6995528,0.22875 l -1.77435916,5.92828 0,8e-5 4.12882456,0 L 8.0000095,16 10.946001,6.15711 l 4.128823,0 0,-8e-5 -1.774358,-5.92828 c -0.09126,-0.30499 -0.488798,-0.30499 -0.580108,0 l -1.774357,5.92828 -5.8919828,0 L 3.2795878,0.22875 C 3.2339548,0.07626 3.1117682,0 2.9895696,0 Z M 15.074824,6.15711 8.0000095,16 15.748527,9.8886 C 15.962288,9.71998 16.051761,9.42109 15.970112,9.14826 L 15.074824,6.15711 Z M 8.0000095,16 0.92519364,6.15711 0.02990671,9.14826 C -0.05178578,9.42109 0.03772531,9.71998 0.25149259,9.8886 L 8.0000095,16 Z" />
                </svg>
              </span>
            </a>
          {% endif %}

          {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon">
                <svg viewBox="0 0 16 16">
                  <path fill="#828282" d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
                  c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27 c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767 c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206 C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271 c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469 c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/>
                </svg>
              </span>
            </a>
          {% endif %}

          {% if (site.mastodon_host and site.mastodon_username) %}
	    <a rel="me" href="{{ site.mastodon_host }}/@{{ site.mastodon_username }}">
              <span class="icon">
                <svg viewBox="0 0 16 16">
		  <path fill="#828282" d="M 6.973786,0 C 5.0561155,0.0157 3.2114661,0.22334 2.1364586,0.71704 c 0,0 -2.13206076,0.9537 -2.13206076,4.20766 0,0.74511 -0.0144827,1.63603 0.00911542,2.58084 0.07742123,3.18219 0.58336747,6.31839 3.52553584,7.09713 1.3565687,0.35906 2.5213351,0.43428 3.4593603,0.38273 1.7010848,-0.0943 2.6560192,-0.60707 2.6560192,-0.60707 l -0.056115,-1.23425 c 0,0 -1.2156313,0.38327 -2.5808471,0.33656 -1.3526084,-0.0464 -2.78056,-0.14583 -2.9993275,-1.80651 -0.020204,-0.14587 -0.030306,-0.3019 -0.030306,-0.46572 0,0 1.327834,0.32458 3.010574,0.40167 1.0289426,0.0472 1.9938265,-0.0603 2.9738754,-0.17721 1.8794456,-0.22443 3.5159016,-1.38245 3.7215766,-2.44056 0.324071,-1.66683 0.297376,-4.06761 0.297376,-4.06761 0,-3.25396 -2.131942,-4.20766 -2.131942,-4.20766 C 10.784366,0.22334 8.9385702,0.01568 7.0208993,0 Z M 4.8034878,2.54249 c 0.7987803,0 1.4035946,0.30702 1.8035506,0.92113 L 6.9959237,4.11544 7.3848084,3.46362 C 7.7846833,2.84951 8.3894983,2.54249 9.1883592,2.54249 c 0.6903254,0 1.2465518,0.24268 1.6713178,0.7161 0.411755,0.47341 0.616771,1.11337 0.616771,1.91862 V 9.1172 H 9.9154616 V 5.29298 c 0,-0.80613 -0.3391665,-1.21531 -1.0176119,-1.21531 -0.7501296,0 -1.1260499,0.48532 -1.1260499,1.44509 V 7.616 H 6.2200472 V 5.52276 c 0,-0.95977 -0.3760389,-1.44509 -1.1261682,-1.44509 -0.6784459,0 -1.0176121,0.40918 -1.0176121,1.21531 V 9.1172 H 2.5152812 V 5.17721 c 0,-0.80525 0.2050532,-1.44521 0.6168888,-1.91862 0.4246854,-0.47342 0.9809112,-0.7161 1.6713178,-0.7161 z" />
                </svg>
              </span>
	    </a>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
