<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script>
    var host = 'gnu.rocks';
    if (window.location.host != host && window.location.hostname != '127.0.0.1')
	window.location.href = window.location.href.replace(window.location.host+"/weblog", host);
    if (window.location.protocol != "https:" && window.location.host == host)
    	window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
  </script>
  
  {% include twitter-card.html %}

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" media="screen" href="{{ '/css/fonts.css' | prepend: site.baseurl }}" type="text/css"/>
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />
  
  <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon" />
</head>
