  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | remove: '<p>' | remove: '</p>' }}{% else %}وبلاگ دانیال بهزادی{% endif %}">{% if page.cover %}
  <meta property="og:image" content="{{ page.cover | prepend: '/assets/' | prepend: site.baseurl | prepend: site.url}}">{% else %}
  <meta property="og:image" content="{{ '/assets/main/zayno-urahara-kisuke-tux.png' | prepend: site.baseurl | prepend: site.url}}">{% endif %}
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <meta name="fediverse:creator" content="@danialbehzadi@persadon.com">
