{% if page.layout == 'post' %}
<ul class="px-0 list-group list-group-flush">
  <li class="list-group-item disabled"><h3>فرسته‌های اخیر</h3></li>
  {% for post in site.posts %}
    <li class="list-group-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% else %}
<ul class="px-0 list-group list-group-flush">
  <li class="list-group-item disabled"><h3>صفحه‌ها</h3></li>
  {% for page in site.pages %}
    {% if page.title and page.category == nil %}
      <li class="list-group-item"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}
<br />
{% if page.layout == 'default' %}
<ul class="mt-3 px-0 list-group list-group-flush">
  <li class="list-group-item disabled"><h3>پیوندها</h3></li>
  {% for link in site.links %}
    <li class="list-group-item">
      <a href="{{ link.url }}" {% if link.rel %}rel="{{ link.rel }}"{% endif %}>
        <div>
        <span style="float: inline-end;">
          <i class="bi bi-{{ link.icon }} me-2"></i>
        </span>
        <span style="float: inline-start;">
          {{ link.name }}
        </span>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
{% endif %}

<ul class="mt-3 px-0 list-group list-group-flush">
  <li class="list-group-item disabled"><h3>دسته‌ها</h3></li>
  {% for page in site.pages %}
    {% if page.title and page.category %}
      <li class="list-group-item"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
