---
layout: page
---
{% if page.paginator %}

  <!-- Pagination is active -->
  {% assign paginator = page.paginator %}

  {% if paginator.previous_page != nil or paginator.next_page != nil %}
    <!-- Show page number if we have multiple pages -->
    <h1>صفحهٔ {{ paginator.page }} از {{ paginator.total_pages }}</h1>
  {% endif %}

  <section>
    <!-- Show post excerpts for the current page -->
    {% for post in paginator.posts limit:paginator.per_page %}
      <article>
        <h2><a class="link-primary" href="{{ post.url }}">{{ post.title }}</a></h2>
        <h6>{{ post.date | jdate: "%d %b %Y" | pnumber }}</h6>
        <p>{{ post.excerpt }}</p>
      </article>
    {% endfor %}
  </section>
  <!-- Show navigation next/previous page links if applicable -->
  <nav><p>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}"><span aria-hidden="true">&larr;</span> جدیدتر</a>{% endif %}
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}">قدیمی‌تر <span aria-hidden="true">&rarr;</span></a>{% endif %}
  </p></nav>

{% else %}

  <!-- Pagination is not active -->
  <section>
    <!-- Show excerpts for all posts in this category -->
    {% for post in page.posts %}
      <article>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <h6>{{ post.date | jdate: "%d %b %Y" | pnumber }}</h6>
        <p>{{ post.excerpt }}</p>
      </article>
    {% endfor %}
  </section>

{% endif %}
