<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fa" lang="fa" DIR="RTL">

<script>
    var host = 'coderabbi.github.io';
    if (window.location.host == host && window.location.protocol != 'https:') { 
        window.location.protocol = 'https:';
    }
</script>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
