<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fa" lang="fa" DIR="RTL">
  {% include head.html %}
  <body>
    {% include header.html %}
    <!-- Sidebar and Content for larger screens -->
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <!-- Main Content Area -->
        <div class="col py-3">
          <div class="content-area">
            {{ content }}
          </div>
        </div>

        <!-- Sidebar for larger screens -->
        <nav class="col col-md-3 col-xl-2 px-sm-2 px-0 d-none d-lg-block">
          <div class="d-flex flex-column p-3">
            <nav class="nav flex-column">
              {% include sidebar.html %}
            </nav>
          </div>
        </nav>
      </div>
    </div>
    <script>
      // Function to apply the theme
      function applyThemeBasedOnPreference() {
        const isDarkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
        document.documentElement.setAttribute('data-bs-theme', isDarkMode ? 'dark' : 'light');
      }

      // Apply theme on page load
      applyThemeBasedOnPreference();

      // Listen for changes in the user's color scheme preference
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', applyThemeBasedOnPreference);
    </script>
  </body>
</html>
