---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <h5>{{ page.date | jdate: "%d %b %Y" | pnumber }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h5>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
  <div class="page__mycomments" id="comments">
    {%if page.comments%}
      <hr>
      {% include comments.html url=page.url %}
    {%endif%}
</div>


</div>
